* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root > div {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 800px;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.education-item,
.experience-item {
  margin-bottom: 10px;
}

.separator {
  height: 3px;
  width: 100%;
  margin: 20px 0;
}

/* Don't print page title and address */
@page {
  size: auto;
  margin: 0mm;
}

/* Print only the CV */
@media print {
  body {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .no-print {
    display: none !important;
    height: 0px !important;
  }
}
